.center	{
	background-color: #c8eac8;
}

.left-side {
	background-color: #e2bdbd;
	padding: 5%;
}

.right-side {
	background-color: #d3d3e8;
	padding: 20px 7%;
}

td, th{
	width: 33%;
	background-color: white;
	border: solid 1px black;
}
button {
	background-color: gray;
	width: 50%;
	border-radius: 5px;
}
input {
	border-radius: 5px;
}